<form
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  [formGroup]="form"
>
  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Tipo</mat-label>
    <input
      formControlName="tipo"
      matInput
      placeholder="0"
      minlength="1"
      maxlength="1"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('tipo').invalid"
      >done</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Localidad</mat-label>
    <input
      formControlName="localidad"
      matInput
      placeholder="000"
      minlength="3"
      maxlength="3"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('localidad').invalid"
      >done</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Región</mat-label>
    <input
      formControlName="region"
      matInput
      placeholder="00"
      minlength="2"
      maxlength="2"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('region').invalid"
      >done</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Manzana</mat-label>
    <input
      formControlName="manzana"
      matInput
      placeholder="000"
      minlength="3"
      maxlength="3"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('manzana').invalid"
      >done</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Lote</mat-label>
    <input
      formControlName="lote"
      matInput
      placeholder="000"
      minlength="3"
      maxlength="3"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('lote').invalid"
      >done</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Nivel</mat-label>
    <input
      formControlName="nivel"
      matInput
      placeholder="00"
      minlength="2"
      maxlength="2"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('nivel').invalid"
      >done</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Departamento</mat-label>
    <input
      formControlName="depto"
      matInput
      placeholder="000"
      minlength="3"
      maxlength="3"
    />
    <mat-icon
      matSuffix
      [fxHide]="form.get('depto').invalid"
      >done</mat-icon
    >
  </mat-form-field>
</form>
<div fxLayout="row" fxLayoutAlign="center center">
  <button [disabled]="form.valid ? false : true" mat-raised-button (click)="searchPerKey()">
    Buscar <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
