<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Tipo</mat-label>
    <input matInput placeholder="0" minlength="1" maxlength="1" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Localidad</mat-label>
    <input matInput placeholder="000" minlength="3" maxlength="3" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Región</mat-label>
    <input matInput placeholder="00" minlength="2" maxlength="2" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Manzana</mat-label>
    <input matInput placeholder="000" minlength="3" maxlength="3" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Lote</mat-label>
    <input matInput placeholder="000" minlength="3" maxlength="3" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Nivel</mat-label>
    <input matInput placeholder="00" minlength="2" maxlength="2" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-sm="45%">
    <mat-label>Departamento</mat-label>
    <input matInput placeholder="000" minlength="3" maxlength="3" />
    <mat-icon matSuffix>done</mat-icon>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button>
    Buscar <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
