/* You can add global styles to this file, and also import other style files */
@import "variables";
body,
html {
  margin: 0;
  padding: 0;
  height: $max-height + 20;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Salsa", cursive;
  }
  h1.sm {
    font-family: "Titillium Web", sans-serif;
  }
}
// .container {
//   height: $max-height;
//   width: $max-width;
// }
.container-fluid {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 90vw;
  margin: 10vh auto auto auto;
}

.mat-fab .mat-button-wrapper {
  line-height: 17px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color:#34a06e !important;
}
